*{
  box-sizing: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(33, 37, 41);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.main{
  margin: 0;
}
.left{
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 3;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 40vh;
  padding-right: 0%!important;
  padding-left: 0%!important
}
.right{
  /* padding-right: 0%!important;
  padding-left: 0%!important; */
  margin-left: 40vh;
}

.about-header {
  background-color: #216605;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: darksalmon;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn{
  color: white;
}
.btn:hover{
  color: darksalmon;
}

.darksalmon{
  color: darksalmon;
}



.App1{
  height: 100%
}

/* .left{
  text-align: center;
  background-color: rgb(33, 37, 41)
} */
/* .right{
  margin-left: 20%
}  */
.penColor{
  color: white;
}

.bgBtn{
  background-color: black
}

/* span {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 6px;
  background-color: #555;
  margin-bottom: 50px;
} */

.border {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 6px;
}



.comment{
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 20px!important
}


.jumbotron{
  background-color: rgba(0,0,0,0);
  padding: 0px;
}